{
  "parserOptions": {
    "extends": "eslint:recommended",
    "sourceType": "module",
    "ecmaVersion": 6,
    "parser": "babel-eslint",
    "ecmaFeatures": {
      "blockBindings": true,
      "forOf": true,
      "jsx": true,
      "modules": true,
      "arrowFunctions": true,
      "classProperties": true,
      "templateStrings": true,
      "destructuring": true,
      "spread": true
    },
    "env": {
      "browser": false,
      "node": true,
      "es6": true
    },
    "rules": {
      "strict": 0,
      "no-underscore-dangle": 0,
      "quotes": [
        2,
        "single"
      ]
    }
  }
}
